.nice-scrollbar {
  margin-right: 10px;
}
/* Turn on custom 8px wide scrollbar */
.nice-scrollbar::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
.nice-scrollbar::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.09);
}
 
/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
.nice-scrollbar::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(255,255,255,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
.nice-scrollbar::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(255,255,255,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}